@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

html {
  font-size: 62.5%;
  font-family: "Roboto", serif;
}
main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  position: relative;
  width: 800px;
  height: 402px;
  background: url(../images/bg-repeat.jpg) center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .text {
  max-width: 50%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .text h2 {
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 20px;
  margin-right: 80px;
  margin-left: 10px;
}

.container .text p {
  font-weight: 400;
  font-size: 1.5rem;
  margin-right: 90px;
  margin-left: 20px;
}

.form {
  width: 340px;
  height: 378px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form .required {
  position: absolute;
  color: #f52e2e;
  font-size: 0.8rem;
  align-self: flex-start;
  margin-left: 25px;
}

.form .required.name{
  top: 70px;
}

.form .required.email{
  top: 125px;
}

.form .required.phone{
  top: 180px;
}

.form .required.message{
  top: 300px;
}

.form input {
  color: #a8a8a8;
  border: 1px solid;
  border-radius: 5px;
  width: 298px;
  height: 35px;
}

.form .placeholder {
  padding: 10px;
  margin-top: 20px;
}

.form .placeholder.message {
  height: 100px;
  padding-bottom: 70px;
}

.form-bg {
  width: 340px;
  height: 378px;
  background-color: #fff;
}

.form span {
  align-self: flex-start;
  margin: 10px 15px;
  font-size: 1.5rem;
}
.form a {
  width: 298px;
  height: 41px;
  background-color: #3ccc87;
  color: #fff;
  border-radius: 5px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}
